#results
  - if (params[:q].strip.length > 0 rescue false)
    %h1
      Search results for '#{params[:q]}'
  - if @graphpoints
    #visual
    :javascript
      $(function() {
        var graphdata = #{@graphpoints.to_json};
        window.logstash.plot(graphdata);
      });
  - if @total and @result_start and @result_end
    %small
      %strong
        Results #{@result_start} - #{@result_end} of #{@results.total}
      |
      - if @first_href
        %a.pager{ :href => @first_href } first
        |
      - if @prev_href
        %a.pager{ :href => @prev_href } 
          prev
        - if @next_href
          |
      - if @next_href
        %a.pager{ :href => @next_href }
          next
      - if @last_href
        |
        %a.pager{ :href => @last_href }
          last
  - if @results.events.length == 0 
    - if !params[:q]
      / We default to a '+2 days' in the future  to capture 'today at 00:00'
      / plus tomorrow, inclusive, in case you are 23 hours behind the international
      / dateline.
      %h3#querystatus No query given. How about <a href="?q=* @timestamp:[#{(Time.now - 7*24*60*60).strftime("%Y-%m-%d")} TO #{(Time.now + 2*24*60*60).strftime("%Y-%m-%d")}]" class="querychanger">this?</a>
    - else
      %h3#querystatus No results for query '#{params[:q]}' 
  - else
    %table.results
      %tr
        %th timestamp
        %th event
      - @results.events.reverse.each do |event|
        %tr.event
          %td.timestamp&= event.timestamp
          %td.message{ :"data-full" => event.to_json }
            %pre&= event.message
