<div class="searchBar">
  <span>
  <%= form :action => url(:controller => "search", :action => "query"),
           :method => :get do %>
    <%= text_field :name => "q", :label => "Query: ", :value => escape_html(params[:q]), :size => 100 %>
    <%= hidden_field :name => "graphperiod", :value => 60*60*24 %>
    <%= hidden_field :name => "graphstep", :value => 60*60 %>
    <%= submit "Search" %>
  <% end =%>
  </span>

  <span class="logstash-logo">
    logstash.
  </span>
</div>
