<%= form :action => url(:controller => "search", :action => "query"),
         :method => :get do %>
<%= text_field :name => "q", :label => "Query", :value => escape_html(params[:q]), :size => 100 %>
  <br/>
  <%= text_field :name => "log_type", :label => "log type", :value => escape_html(params[:log_type]) %>
  <br>
  <%= submit "Search" %>
<% end =%>
<hr>

<div id="visual" style="width:850px;height:200px;"></div>

<h4>Results <%= params[:offset] %> - <%= params[:offset] + params[:limit] %> of <%= @hits %> for <%=h params[:q] %></h4>
<% if params[:offset] > 0 %>
  <%= link_to "first", url(:controller => "search", :action => "query",
                            :q => params[:q],
                            :offset => 0,
                            :limit => params[:limit],
                            :log_type => params[:log_type]) %> |
  <%= link_to "prev", url(:controller => "search", :action => "query",
                          :q => params[:q],
                          :offset => [0, params[:offset] - params[:limit]].max,
                          :limit => params[:limit],
                          :log_type => params[:log_type]) %>
<% end %>
|
<% if params[:offset] + params[:limit] < @hits %>
  <%= link_to "next", url(:controller => "search", :action => "query",
                          :q => params[:q],
                          :offset => [@hits - params[:limit], params[:offset] + params[:limit]].min,
                          :limit => params[:limit],
                          :log_type => params[:log_type]) %>
                          |
  <%= link_to "last", url(:controller => "search", :action => "query",
                          :q => params[:q],
                          :offset => @hits - params[:limit],
                          :limit => params[:limit],
                          :log_type => params[:log_type]) %>
<% end %>

<pre>
<% @results.each do |result| -%>
 <%=h result["_source"]["@DATE"] %> | <%=h result["_source"]["@LINE"] %>
<% end -%>
</pre>

<script id="source">
$(function () {
  var graphdata = <%= @graphdata.to_json %>;

  $.plot($("#visual"), 
         [
           { data: graphdata,
             bars: {
               show: true,
               barWidth: <%= (params[:graphstep] or 60 * 60).to_i * 1000 %>,
             }
           }
         ], 
         { xaxis: { mode: "time" } }
        );
});
</script>
