[[plugins-<%= section %>s-<%= name %>]]
=== <%= name %>


<%= description %>

==== Synopsis

These are the config options

<%= synopsis -%>

==== Details

<% sorted_attributes.each do |name, config| -%>
<%
     if name.is_a?(Regexp)
       name = "/" + name.to_s.gsub(/^\(\?-mix:/, "").gsub(/\)$/, "") + "/"
       is_regexp = true
     else
       is_regexp = false
     end
-%>
===== <%= name %><%= " (required setting)" if config[:required] %><%= " (DEPRECATED)" if config[:deprecated] %>

<% if config[:deprecated] -%>
  * DEPRECATED WARNING: This config item is deprecated. It may be removed in a further version.
<% end -%>
<% if is_regexp -%>
  * The configuration attribute name here is anything that matches the above regular expression.
<% end -%>
<% if config[:validate].is_a?(Symbol) -%>
  * Value type is <<configuration,_<%= config[:validate] %>, <%= config[:validate] %>>>
<% elsif config[:validate].nil? -%>
  <li> Value type is <a href="../configuration#string">string</a>
<% elsif config[:validate].is_a?(Array) -%>
  * Value can be any of: <%= config[:validate].map(&:inspect).join(", ") %>
<% end -%>
<% if config.include?(:default) -%>
  * Default value is <%= config[:default].inspect %>
<% else -%>
  * There is no default value for this setting.
<% end -%>

<%= config[:description] %>

<% end -%>

This is documentation from <a href="https://github.com/logstash/logstash/blob/v<%= LOGSTASH_VERSION %>/<%= file %>"><%= file %></a>

<h3>Milestone: <a href="../plugin-milestones"><%= @milestone %></a></h3>
